*.iml
.gradle
/.kotlin
/local.properties
/.idea
.DS_Store
/build
/captures
SESSION_INFO.txt
HARDWARE_TEST_RECORD.md
APK_BADGING.txt
APK_MANIFEST.txt
APK_SIGNATURE.txt
INSTALLED_APK_PULL.txt
INSTALLED_APK_BADGING.txt
INSTALLED_APK_MANIFEST.txt
INSTALLED_APK_SIGNATURE.txt
DEVICE_INFO.txt
PACKAGE_BEFORE.txt
PACKAGE_AFTER.txt
SERVICES_BEFORE.txt
SERVICES_AFTER.txt
MEMORY_BEFORE.txt
MEMORY_AFTER.txt
KAROO_BATTERY_BEFORE.txt
KAROO_BATTERY_AFTER.txt
VITALBREATHE_LOGCAT.txt
LOGCAT_STDERR.txt
.externalNativeBuild
.cxx
local.properties
/keystore.properties
*.jks
*.keystore
*.p12
*.pfx
/app/build
/karoo-ext/build
/dist
*.apk
*.aab
*.ap_
*.dex
*.fit
